<!DOCTYPE html>
<head>
    <title>...Subscription Details...</title>
</head>
<body>
    <div>
        <h1>Thank You ......<%= name %></h1>
        <p>You are Successfully Purchsed  the Book....Plase find the deatils below</p>
        <table border="2px solid">
            <tr>
                <th>Userid</th>
                <th>Name</th>
                <th>Bookid</th>
                <th>BookName</th>
                <th>Price</th>
            </tr>
            <tr>
                <td><%= userid %></td>
                <td><%= name %></td>
                <td><%= bookid %></td>
                <td><%= bookname %></td>
                <td><%= price %></td>
            </tr>
        </table>
    </div>
    
</body>
</html>